<extend name="Base/common"/>



<block name="body">
	<div class="header_bg"></div>
	

    <!-- 新闻开始 -->
    <div class="about_cont_a">
        <div class="about_cont_aa"></div>
        <div class="about_cont_vc"></div>
        <div class="main">
            <div class="about_conta_top">
                <div class="about_conta_topl">
                    <img width="382" height="60" src="__STATIC__/wolsn/images/coll_a.jpg" />
                </div>
                <div class="about_conta_topr">
                    <div class="about_conta_toprt">
                        <span>当前位置：</span>
                        <a href="{:U('Index/index')}">主页</a> &gt;
                        <a href="{:U('Article/index?category='.$category['name'])}">{$category['title']}</a> &gt;
                    </div>
                    <div class="about_conta_toprb a">
                        <volist name="menu_second" id="vo">
                            <a href="{:U('Article/index?category='.$vo['name'])}">{$vo.title}</a>
                            
                        </volist> 
                        <!-- {:W('Category/lists', array($category['pid'], ACTION_NAME == 'index'))} -->
                    </div>
                </div>
            </div>
          </div>
        </div>
<div class="ndBody"> 
   <div class="ndContent"> 
    <h4 class="ndTitle">{$info.title}</h4> 
    <div class="nqlDate"> 
     <span class="nqldDay">{$info.update_time|date='d',###}</span> 
     <span class="nqldMy">{$info.update_time|date='Y-m',###}</span> 
    </div> 

    <div class="ndInfo"> 
     <span class="ndili">编辑：{$info.uid|get_username}</span> 
     <span class="ndili">源于：www.wolsn.cn</span> 
     <span class="ndili">浏览：<span class="red" id="viewsCount">{$info.view}</span> 次</span> 
     <span class="ndili"> 
      </span> 
    </div> 
    <div class="ndIntro"> 
     	{$info.content}
    </div> 
    <div class="collb_ld"> 
     <div class="collb_ldl"> 
      <b></b> 上一篇： 
      <a href="/news/dongtai/350.html" class="a">祛斑世家官方网站第三年续约合作中</a> 
     </div> 
     <div class="collb_ldr"> 
      <b></b> 下一篇： 
      <a href="#" class="b">没有了</a> 
     </div> 
    </div> 
    <div class="ndBottom"> 
     <!-- <a href="news.html" class="ndBack">BACK</a>  -->
    </div> 
   </div> 
  </div> 
    <div class="span9 main-content">
        <!-- Contents
        ================================================== -->

        {:hook('documentDetailAfter',$info)}
    </div>
</block>
